
@media screen and (min-width: 428px) {
    .container {
        width: 426px;
    }

    .modal { 
        width: 408px;
    }
}



@media screen and (min-width: 768px) {


    .container {
            width: 766px;
        }

    .mob-menu { display: none;}
    /* ----------- header ------------- */
    .menu-btn {
    display: none;
    }


    .hd-lg {
        margin-right: 120px;
    }

    .header-container {
        display: flex;
        align-items: center;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-nav-item:is(:hover,:focus),
    .header-address-item:is(:hover,:focus){
        color: var(--color-pressed-state);
    }

    .header-nav-item {
        display: inline-block;
        padding: 24px 0;
        font-weight: 500;
        color: var(--color-dark);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-address {
        display: block;
        font-style: normal;
    }

    .header-address-item {
        font-size: 12px;
        color: var(--color-text);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link-active {
        color: var(--color-pressed-state);
        position: relative;
    }

    .nav-link-active::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: var(--color-pressed-state);
        border-radius: 2px;
    }

     /* ----------- hero ------------- */


    .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
            url("../images/dark-bg-tab.jpg");
    }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url("../images/dark-bg-tab-2x.jpg");
    }
    }
    
    .hero-title {   
        font-size: 56px;
        line-height: 1.07;
        max-width: 526px;
        margin-bottom: 36px;
    }

        /* ----------- content ------------- */
      
    .title-content {
        text-align: left;
    }

    .content-list {
        gap: 72px 24px;
    }
    
    .content-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }

        /* ----------- team ------------- */

    .team>.container {
        width: 582px;
    }

    .team-list {
        gap: 64px 24px;
    }
    
    .team-list-item {
        flex-basis: calc((100% - 24px) / 2);
        
    }

    /* ----------- customers ------------- */

    .customers>.container {
        width: 582px;
    }

    .customers-list {
        gap: 72px 24px;
    }

    .customers-item {
        width: calc((100% - 48px) / 3);
    }

        /* ----------- footer ------------- */
    
    .footer>.container {
        width: 582px;
    }

    .footer-container {
        justify-content: left;
        gap: 72px 24px;
    }

    .footer-media {
        text-align: left;
    }

    .ft-lg {
        text-align: left;
    }
}



@media screen and (min-width: 1158px) {

    .container {
        width: 1158px;
    }

.hd-lg {
    margin-right: 76px;
}

.header-container {
    padding: 0;
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.address-list {
    flex-direction: unset;
    gap: 40px;
}

.header-nav-item:is(:hover, :focus),
.header-address-item:is(:hover, :focus) {
    color: var(--color-pressed-state);
}

.header-nav-item {
    display: inline-block;
    padding: 24px 0;
    font-weight: 500;
    color: var(--color-dark);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
    margin-left: auto;
    font-style: normal;
}

.header-address-item {
    font-size: 16px;
    color: var(--color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-active {
    color: var(--color-pressed-state);
    position: relative;
}

.nav-link-active::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--color-pressed-state);
    border-radius: 2px;
}

    /* ----------- hero ------------- */



    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }

        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/people-office.jpg");
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url("../images/people-office-2x.jpg");
            }
        }

    .hero-title {
        margin-bottom: 72px;
    }

    /* ----------- content ------------- */
    .content {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .title-content {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .content-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
    
    .content-list-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .content-icon-item {
        display: flex;
        height: 112px;
        margin-bottom: 8px;
        background-color: var(--color-light);
        border-radius: 4px;
        align-items: center;
        justify-content: center;
    }

    /* ----------- doing ------------- */

    .doing {
        display: block;
        padding-bottom: 120px;
    }

        .doing-title {
        margin-bottom: 72px;
    }
    
    .doing-list {
        display: flex;
        gap: 24px;;
    }
    
    .doing-list-item {
        flex-basis: calc((100% - 48px) / 3);
    }

    /* ----------- team ------------- */

    .team>.container {
        width: 1158px;
    }
    
    .team {
        padding-top: 120px;
        padding-bottom: 120px
    }

    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
    
    .team-list-item {
        flex-basis: calc((100% - 72px) / 4);
    
    }

    /* ----------- customers ------------- */
    
    .customers>.container {
        width: 1158px;
    }

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

        .customers-list {
            flex-wrap: nowrap;
            gap: 24px;
        }
    
        .customers-item {
            width: calc((100% - 120px) / 6);
        }

    /* ----------- footer ------------- */
    
    .footer>.container {
        width: 1158px;
    }

    .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    }

    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
    }

    .container-logo {
        margin-right: 120px;
    }

    .container-footer-media {
    margin-right: 80px;
    }

    .footer-form {
        justify-content: left;
        flex-wrap: nowrap;
        gap: 24px;
    }
}